@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid red; */
}



nav {
    display: flex;
    align-items: center;
    padding: 0px 70px;
    height: 8vh;
    width: 100%;
}
nav ul li:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}
nav i{
    font-size: 18px;
}

.nav-li{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav img {
    height: 35px;
    width: 120px;
}

nav ul {
    margin-top: 10px;
    display: flex;
    list-style: none;
    font-size: 12px;
}


nav ul li {
    padding: 10px;
}
.container{
    height: 92vh;
    background-image: url(./images/bck.avif);
    background-size: cover;
    padding: 200px 120px;
}
.container h1{
    font-size: 30px;
    font-weight: 500;
}
.container p{
    font-size: 15px;
    padding: 25px 0px;
}
.micro-365{
    height: 200px;
    width: 400px;
}

.primary-btn button{
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 500;
    background-color: #0067b8;
    color: white;
    border: none;
    cursor: pointer;
}
.primary-btn a{
    margin: 0px 20px;
    color: black;
    font-size: 15px;
    font-weight:500;
    text-decoration: none;
}
.primary-btn button:hover{
    background-color:#055a9b;
}
.primary-btn a:hover{
    border-bottom: 1px solid;
}


.product{
min-height: 100vh; 
}
.product-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 220px;
}

.product-item img{
    height: 40px;
    width: 40px;
}
.product-item a {
    color: #0067b8;
    font-weight: 500;
    padding-top: 10px;
    cursor: pointer;
}

.product-item div{
    height: 100px;
    width: 220px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.category{
    height: 100%;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.cat{
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}
.cat img{
    height: 150px;
    width: 300px;
}
.cat .new-btn{
    width: 20%;
    padding: 5px 12px;
    font-size: 15px;
    background-color: #ffb900;
    border: none;
    cursor: pointer;
}
.cat h2{
    font-weight: 450;
}
.cat a{
    font-size: 14px;
    font-weight: 500;
    color: #0067b8;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
}
.cat a:hover{
    border-bottom: 1px solid rgb(139, 99, 232);
    width: 84px;
}




.xbox{
    min-height: 90vh;
    background-image: url(./images/back2.webp);
    background-size: cover;
    padding: 80px;
    margin: 10px 70px;
}
.xbox .xbox-text{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}
.xbox-text h2{
    font-size: 30px;
    font-weight: 500;
    /* padding: 50px 0px; */
}
.xbox-text p{
    padding: 20px 0px;
    font-size: 15px;
}
.xbox-text button{
    height: 40px;
    width: 100px;
    background-color: #0067b8;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.xbox-text button:hover{
    background-color:#055a9b;
}



.business{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
    padding: 10px 80px;
}
.business h1{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
}
.business-cart{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.business-cart img{
    height: 170px;
}

.business-cart h2{
    font-weight: 400;
}
.business-cart p{
    font-size: 15px;
}
.business-cart a{
    width: 53%;
    text-decoration: none;
    font-weight: 500;
    color: #0067b8;
}
.business-cart a:hover{
    border-bottom: 1px solid #0067b8;
}

.main-business{
    display: flex;
    justify-content: space-between;
}



.follow{
    /* background-color: #ffb900; */
    height: 20vh;
    width: 30%;
    padding: 10px 80px;
    
}
.follow ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.follow ul Li i{
    font-size: 25px;
}


footer{
    height: 50vh;
    width: 100%;
    padding: 40px 80px;
    background-color: #f2f2f2;
    display: flex;
}
footer ul{
    height: 40vh;
    width: 100%;
    /* background-color: #ffb900; */
    list-style: none;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    
    /* justify-content: space-between; */
}
footer ul li{
    margin-bottom: 20px;
    font-size: 11px;
    color: #616161;

}
footer h3{
    margin-bottom: 15px;
    font-size:15px;
    font-weight: 500;
    color: #616161;
}
footer ul li:hover {
    border-bottom: 1px solid black;
}


.end-nav{
    height: 10vh;
    width: 100%;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #ffb900; */
    cursor: pointer;
}
.end-nav ul{
    display: flex;
    list-style: none;
}
.end-nav a{
    text-decoration: none;
    font-size: 11px;
    color: #616161;
}
.end-nav li{
    font-size: 11px;
    margin-right: 25px;
}
.end-nav li:hover{
    border-bottom: 1px solid black;
}







@media (max-width:768px){
    .logo{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .res{
        display: none;
    }
    .nav-li{
        padding: 0px;
        width: 40%;
    }
    nav img{
        height: 25px;
        width: 20%;
    }
    .logo{
        padding: 0px;
        display: flex;
        justify-content: space-between;
    }
    .container{
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    .micro-365{
        height: 200px;
        width: 50%;
    }
    .product-item{
        width: 100%;
        padding: 0px;
    }
    .category{
        padding: 0px;
        margin: 0px;
        /* width: 100%; */
        flex-wrap: wrap;
    }
    .category .cat{
    }
    .xbox{
        padding: 0px;
        margin: 0px;
    }
    .xbox-text{
        padding: 0px;
        width: 0px;
    }
    .business{
        width: 0px;
        padding: 0px;
    }
    .main-business{
        /* min-height: 100vh; */
        /* display: flex; */
        flex-direction: column;
    }
    
} 